@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-Regular.otf") format('opentype'),
        url("font/Aktiv Grotesk/OTF/AktivGrotesk-Black.otf") format('opentype'),
        url("font/Aktiv Grotesk/OTF/AktivGrotesk-BlackItalic.otf") format('opentype'),
        url("font/Aktiv Grotesk/OTF/AktivGrotesk-Light.otf") format('opentype'),
        url("font/Aktiv Grotesk/OTF/AktivGrotesk-LightItalic.otf") format('opentype'),
        url("font/Aktiv Grotesk/OTF/AktivGrotesk-MediumItalic.otf") format('opentype');
    font-weight: unset;
    font-style: unset;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-Bold.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-Medium.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-Hairline.otf") format('opentype');
    font-weight: lighter;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-Italic.otf") format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-BoldItalic.otf") format('opentype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("font/Aktiv Grotesk/OTF/AktivGrotesk-HairlineItalic.otf") format('opentype');
    font-weight: lighter;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'aktiv-grotesk';
    font-weight: normal;
}

main {
    width: 100%;
}


img {
    width: 80%;
}

h2 {
    font-size: 7vmin;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>div {
    width: 82%;
    height: 90%;
    display: flex;
}

button {
    height: 100%;
    background-color: transparent;
    border: 3px solid #276356;
    color: #276356;
    font-size: 3vmin;
    padding: 25px;
    width: 250px;
}

button:hover {
    background-color: #276356;
    color: white;
    cursor: pointer;
}







/*BANNER, HEADER, NAVIGATION*/


#banner>div {
    width: 100%;
    height: 100%;
}

#banner {
    background-image: url("img/SLEEPWALKTHEDOG-01.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

#title-div {
    display: flex;
    width: 100;
    justify-content: center;
}

#title {
    width: 40%;
    mix-blend-mode: difference;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: static;
    flex-direction: row-reverse;
    align-self: flex-start;
    position: absolute;
}

nav {
    width: 10%;
    position: fixed;
    top: 3px;
    left: 3px;
}

a {
    cursor: pointer;
}

nav>a {
    color: white;
    font-size: 5vmin;
}

.socials {
    display: flex;
    align-items: center;
    padding: 3px;
}



.socials>a {
    overflow: hidden;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.socials>a>img {
    width: 100%;
}

#spotify {
    background-image: url("./img/f05cbc8c0f8b075d2b4f1f68fee49649.jpg");
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}












/*MUSIC PAGE*/

#single {
    background-color: hsl(309, 75%, 89%);
    color: #276356;
}

#single-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#single-description-div {
    width: 50%;
    height: 100%;
    display: flex;
}

#single-image-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    height: 40vmax;
    width: 40vmax;
}

#single-image-div div {
    width: 19.8vmax;
    height: 19.8vmax;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

#stay-away {
    background-image: url("./img/ac29e5ee-afe5-4c81-8a70-e27e7a219afa.jpg");

}

#orange-dream {
    background-image: url("./img/353883292_645641744110736_4210858568055779627_n.jpg");

}

#the-sorrowing {
    background-image: url("./img/320aaab8-0d75-476b-9e08-1ab82cbf80a8.jpg");
}

#rockabye-baby {
    background-image: url("Rock-a-bye_Baby_front_cover.jpg");
}

#single-description-div {
    flex-direction: column;
    justify-content: space-evenly;
}

#single-description-div>* {
    width: 80%;
}

#single-description-div>h2 {
    padding-top: 20%;
}

#single-description-div>button {
    width: 45%;
    height: 13%;
    border: 3px solid #276356;
    color: #276356;
}

#single-description-div>button:hover {
    background-color: #276356;
    color: white;
    cursor: pointer;
}

.coming-soon {
    border: 1px solid #276356;
}

#about-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about {
    color: #D49705;
    background-color: #276356;
    font-size: 3.5vmin;
    font-weight: normal;
}

#about-div>div>p {
    font-weight: bold;
    font-size: 3vmin;
}

#about-div>div {
    width: 80%;
}


#video {
    color: #D49705;
    background-color: #b94d47;
}

#videos-div {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-div {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
        width: 48%;
}

.video-div button {
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 100%;
}


#shows {
    background-color: #D49705;
    color: #F8CFF2;
}

#shows-div {
    flex-direction: column;
    justify-content: space-evenly;
}



#shows-info {
    display: flex;
    justify-content: space-between;
}

#shows-info>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shows-info h3 {
    font-weight: bold;
    font-size: 5vmin;
    text-decoration: underline;
}

#shows-info a {
    font-weight: bold;
}
#upcoming-shows-div {
    flex-direction: column;
   display: flex;
   row-gap: 20px;
}

#widget-box {
    height: 40vh;
    border: 3px solid #276356;
    overflow-y: scroll;
}


#shows-img-div {
    height: 25vmax;
    width: 25vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#shows-img-div img {
    width: 100%;
}

#past-shows-div {
    row-gap: 20px;
}

#pics {
    background-color: #B0E3F8;
    color: #276356;

}

.pics-div {
    display: flex;
    flex-direction: column;
}

.images-link {
    left: 35vw;
    bottom: 30px;
    position: relative;
}

.images-body {
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.pics-div>div>div {
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#left {

    background-image: url("./img/small\ profile\ .jpeg");
}

#middle {
    background-image: url("./img/000054.jpg");

}

#right {
    background-image: url("./img/000048-3.jpg");

}

#merch {
    background-color: antiquewhite;
    color: #0e366a;
}

.left {
    background-image: url("./img/Screenshot\ 2022-11-15\ at\ 14.52.40.png");
}

.middle {
    background-image: url("./img/Screenshot\ 2022-11-15\ at\ 14.53.03.png");
}

.right {
    background-image: url("./img//Screenshot\ 2022-11-15\ at\ 14.53.46.png");
}

footer {
    width: 100%;
    height: 50vh;
    background-color: #B0E3F8;
    color: #276356;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    padding: 10px 20px;
    margin: 10px 20px;
}

input {
    width: 35vmin;
    font-size: 3.5vmin;
    padding: 1.5% 4% 1.5% 4%;
    font-weight: lighter;
}











@media screen and (max-width: 968px) {

    * {
        font-weight: bold;
    }

    #title {
        width: 100%;
    }

    #title-div {
        width: 100%;
    }

    #navbar {
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        flex-direction: row;
        top: 0px;
    }

    nav {
        width: 80%;
        position: sticky;
    }

    nav>a {
        font-size: 16px;
    }

 

    .socials>a {
        width: 25px;
        height: 25px;
    }

    #spotify {
        width: 17px;
        height: 17px;
    }



    #banner {
        background-image: url("./img/mobile-banner.jpg");
        background-size: cover;
        background-position: 20% 0%;
    }

    #single-div {
        flex-direction: column;
    }

    #shows-div {
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    #shows-info {
        flex-direction: column;
        height: 85vmax;
    }

    #shows-info>div {
        width: 40vmax;
        height: 40vmax;
    }

    #shows-img-div {
        width: 28vmax;
        height: 28vmax;
        border: 1px solid blue;
    }

    #past-shows-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        height: 80%;
        border: ;
    }
    #past-shows-div button {
        font-weight: bold;
    }

    #upcoming-shows-div {
        flex-direction: column;
       display: flex;
       height: 40vmax;
       border: ;
    }

    button {
        padding: 10px 20px;
        width: 100px;
    }

}